// These are style guide variables. They match the styles used in Figma

$primary: #795548;
$onPrimary: #FFFFFF;
$background: #F5F5F5;
$surface: #ffffff;
$onSurface: #AFC9D6;
$onSurfaceMediumEmphasis: rgba($onSurface, 0.6);
